header{
  background-color: #5b7989;
  width: 100%;
  height: 100px;
  }
nav{
  float: right;
}
.imgcentral{
  background-color: #82c3a6;
  width: 100%;
  height: 200px;
}
.imgsecundaria{
  background-color: #d5c75f;
  width: 100%;
  height: 200px;
}
